zone "{{ forward_zone }}" {
    {% if ansible_host == primary_server %}
    type master;
    file "{{ forward_zone_file }}";
    allow-transfer { {{ secondary_server }}; };
    {% else %}
    type slave;
    file "{{ forward_zone_file }}";
    masters { {{ primary_server }}; };
    {% endif %}
};

zone "{{ reverse_zone }}" {
    {% if ansible_host == primary_server %}
    type master;
    file "{{ reverse_zone_file }}";
    allow-transfer { {{ secondary_server }}; };
    {% else %}
    type slave;
    file "{{ reverse_zone_file }}";
    masters { {{ primary_server }}; };
    {% endif %}
};
