myhostname = mail.rjdcit449.com
mydomain = rjdcit449.com
myorigin = $mydomain
inet_interfaces = all
inet_protocols = ipv4
mydestination = $myhostname, localhost.$mydomain, localhost, $mydomain
local_recipient_maps =
mynetworks = 127.0.0.0/8 10.175.151.0/26
home_mailbox = Maildir/
